#an{
    background-color: gainsboro;
    color: darkred;
    font: italic;
    font-weight: bold;
    border-radius: 20px;
}

.cow{
    border: 2px solid maroon;
    border-radius: 10px;
    margin: 5%;
    padding: 10px 15px;
} 

.horse{
    border: 2px solid maroon;
    border-radius: 10px;
    margin: 5%;
    padding: 10px 15px;
}