#an{
    background-color: gainsboro;
    color: darkred;
    font: italic;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid green;
    padding: 10px 15px;
    margin: 20px;
    box-shadow: 3px 4px 9px;
}

#title{
    text-align: center;
    font-weight: bolder;
}

.cow{
    border: 2px solid maroon;
    border-radius: 10px;
    margin: 5%;
    padding: 10px 15px;

} 

.horse{
    border: 2px solid maroon;
    border-radius: 10px;
    margin: 5%;
    padding: 10px 15px;
    
}

.img{
    margin: auto;
    display: block;
}